@* 下拉選單項目元件 *@

<a class="nav-dropdown-item" href="@Url">
    <span class="@IconClass nav-dropdown-bi" aria-hidden="true"></span> @Text
</a>


@code {
    /// <summary>
    /// 下拉選單項目顯示的文字
    /// </summary>
    [Parameter] public string Text { get; set; } = "";    /// <summary>
    /// 圖示的 CSS 類別（例如 "bi bi-person-lines-fill"）
    /// </summary>
    [Parameter] public string IconClass { get; set; } = "";

    /// <summary>
    /// 連結的 URL
    /// </summary>
    [Parameter] public string Url { get; set; } = "";
}
