@rendermode @(new Microsoft.AspNetCore.Components.Web.InteractiveServerRenderMode())
@using Microsoft.AspNetCore.Components.Authorization
@using ERPCore2.Components.Shared
@using ERPCore2.Components.Shared.NavMenus
@using ERPCore2.Components.Shared.Auth
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="">美莊磚業</a>
        <AuthorizeView>
            <Authorized>
                <div class="d-flex align-items-center">
                    <span class="text-white me-3">歡迎，@context.User.Identity?.Name</span>
                    <a href="/auth/signout" class="btn btn-sm btn-outline-light">登出</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="d-flex align-items-center">
                    <a href="/auth/login" class="btn btn-sm btn-outline-light">登入</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable">    
    <nav class="nav flex-column">
        <!-- 首頁 -->
        <NavMenuItem Text="首頁" IconClass="bi bi-house-door-fill-nav-menu" Url="/" />

        <!-- 通用參數設定 -->
        <NavigationPermissionCheck Module="MasterData">
            <NavMenuItem Text="基礎資料" IconClass="bi-sliders nav-menu-bi">
                <DropdownItems>

                    <NavSection Title="通用參數">
                        <NavigationPermissionCheck Permission="IndustryType.Read">
                            <NavDropdownItem Text="行業" Url="/industrytypes"/>
                        </NavigationPermissionCheck>
                    </NavSection>

                </DropdownItems>
            </NavMenuItem>
        </NavigationPermissionCheck>        

        <!-- 客戶管理下拉選單 -->
        <NavigationPermissionCheck Module="Customer">
            <NavMenuItem Text="客戶管理" IconClass="bi bi-people-fill">
                <DropdownItems>
                    <NavigationPermissionCheck Permission="Customer.Read">
                        <NavDropdownItem Text="客戶維護" Url="/customers"/>
                    </NavigationPermissionCheck>

                    <NavigationPermissionCheck Permission="CustomerType.Read">
                        <NavDropdownItem Text="客戶類型" Url="/customer-types"/>
                    </NavigationPermissionCheck>                
                </DropdownItems>
            </NavMenuItem>
        </NavigationPermissionCheck>

          <!-- 廠商管理 -->
        <NavigationPermissionCheck Module="Supplier">
            <NavMenuItem Text="廠商管理" IconClass="bi bi-building-gear">
                <DropdownItems>
                    <NavigationPermissionCheck Permission="Supplier.Read">
                        <NavDropdownItem Text="廠商維護" Url="/suppliers" />
                    </NavigationPermissionCheck>

                    <NavigationPermissionCheck Permission="SupplierType.Read">
                        <NavDropdownItem Text="廠商類型" Url="/supplier-types"/>
                    </NavigationPermissionCheck>
                </DropdownItems>
            </NavMenuItem>
        </NavigationPermissionCheck>

        <!-- 員工管理 -->
        <NavigationPermissionCheck Module="Employee">
            <NavMenuItem Text="員工管理" IconClass="bi bi-person-badge-fill">
                <DropdownItems>
                    <NavigationPermissionCheck Permission="Employee.Read">
                        <NavDropdownItem Text="員工維護" Url="/employees" />
                    </NavigationPermissionCheck>

                    <NavigationPermissionCheck Permission="Role.Read">
                        <NavDropdownItem Text="員工角色" Url="/roles"/>
                    </NavigationPermissionCheck>

                    <NavigationPermissionCheck Permission="Department.Read">
                        <NavDropdownItem Text="員工部門" Url="/departments"/>
                    </NavigationPermissionCheck>

                    <NavigationPermissionCheck Permission="EmployeePosition.Read">
                        <NavDropdownItem Text="員工職位" Url="/employee-positions"/>
                    </NavigationPermissionCheck>                   

                    <NavigationPermissionCheck Permission="Permission.Read">
                        <NavDropdownItem Text="員工權限" Url="/permissions"/>
                    </NavigationPermissionCheck>

                    <NavigationPermissionCheck Permission="EmployeePermission.Read">
                        <NavDropdownItem Text="員工權限設定" Url="/employees/role-permission-management"/>
                    </NavigationPermissionCheck>

                </DropdownItems>
            </NavMenuItem>
        </NavigationPermissionCheck>

        <!-- 產品管理下拉選單 -->
        <NavigationPermissionCheck Module="Product">
            <NavMenuItem Text="產品管理" IconClass="bi bi-box-seam-fill">
                <DropdownItems>

                    <NavigationPermissionCheck Permission="Product.Read">
                        <NavDropdownItem Text="產品維護" Url="/products" />
                    </NavigationPermissionCheck>

                    <NavigationPermissionCheck Permission="ProductCategory.Read">
                            <NavDropdownItem Text="產品類型" Url="/product-categories"/>
                        </NavigationPermissionCheck>
                        <NavigationPermissionCheck Permission="Size.Read">
                            <NavDropdownItem Text="產品尺寸" Url="/sizes" />
                        </NavigationPermissionCheck>
                        <NavigationPermissionCheck Permission="Color.Read">
                            <NavDropdownItem Text="產品顏色" Url="/colors" />
                        </NavigationPermissionCheck>
                        <NavigationPermissionCheck Permission="Weather.Read">
                            <NavDropdownItem Text="天氣" Url="/weather" />
                        </NavigationPermissionCheck>
                        <NavigationPermissionCheck Permission="Material.Read">
                            <NavDropdownItem Text="產品材質" Url="/materials" />
                        </NavigationPermissionCheck>
                        <NavigationPermissionCheck Permission="Unit.Read">
                            <NavDropdownItem Text="產品單位" Url="/units"/>
                        </NavigationPermissionCheck>
                </DropdownItems>
            </NavMenuItem>
        </NavigationPermissionCheck>       

        <!-- 銷貨管理 (開發中) -->
        <NavigationPermissionCheck Module="Sales">
            <NavMenuItem Text="銷貨管理 (開發中)" IconClass="bi bi-cart-fill">

            </NavMenuItem>
        </NavigationPermissionCheck>

        <!-- 庫存管理 -->
        <NavigationPermissionCheck Module="Warehouse">
            <NavMenuItem Text="庫存管理" IconClass="bi-boxes nav-menu-bi">
                <DropdownItems>

                    <NavigationPermissionCheck Permission="Inventory.Read">
                        <NavDropdownItem Text="庫存概覽" Url="/inventoryoverview" />
                    </NavigationPermissionCheck>

                    <NavigationPermissionCheck Permission="Warehouse.Read">
                        <NavDropdownItem Text="倉庫維護" Url="/warehouses" />
                    </NavigationPermissionCheck>

                </DropdownItems>
            </NavMenuItem>
        </NavigationPermissionCheck>    

        <!-- BOM 管理下拉選單 -->
        <NavigationPermissionCheck Module="BOM">
            <NavMenuItem Text="BOM 管理 (開發中)" IconClass="bi bi-list-nested">

            </NavMenuItem>
        </NavigationPermissionCheck>
        <!-- 系統管理 -->
        <NavigationPermissionCheck Module="SystemControl">
            <NavMenuItem Text="系統管理" IconClass="bi bi-gear-fill">
                <DropdownItems>

                    <NavigationPermissionCheck Permission="SystemControl.ViewErrorLog">
                        <NavDropdownItem Text="更新紀錄" Url="/updates" />
                    </NavigationPermissionCheck>

                    <NavigationPermissionCheck Permission="ErrorLog.Read">
                        <NavDropdownItem Text="錯誤記錄" Url="/error-logs" />
                    </NavigationPermissionCheck>


                </DropdownItems>
            </NavMenuItem>
        </NavigationPermissionCheck>

        <!-- UI 設計範例 -->
        @* <NavMenuItem Text="UI 設計範例" IconClass="bi bi-palette-fill">
            <DropdownItems>
                <NavDropdownItem Text="現代化詳細資料展示" Url="/examples/modern-details" />
            </DropdownItems>
        </NavMenuItem> *@

    </nav>
</div>
