@namespace ERPCore2.Components.Shared.Details
@* 詳細資料區段組件 - 用於組織詳細資料的分組 *@

<div class="row">
    <div class="col-12">        <h5 class="mb-3 text-primary-custom @TitleClass">
            @if (!string.IsNullOrEmpty(IconClass))
            {
                <i class="@IconClass me-2"></i>
            }
            @Title
        </h5>
    </div>
</div>

<div class="row mb-4">
    @ChildContent
</div>

@if (ShowDivider)
{
    <hr />
}

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string IconClass { get; set; } = string.Empty;
    [Parameter] public string TitleClass { get; set; } = string.Empty;
    [Parameter] public bool ShowDivider { get; set; } = true;
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
