@using ERPCore2.Data.Entities

    @if (ProductSuppliers?.Any() == true)
    {
        <div class="row g-3">
            @foreach (var productSupplier in ProductSuppliers.OrderByDescending(ps => ps.IsPrimarySupplier))
            {
                <SupplierCardComponent 
                    ProductSupplier="@productSupplier"
                    PrimarySupplierId="@PrimarySupplierId"
                    OnSupplierClick="@OnSupplierClick" />
            }
        </div>
    }
    else
    {
        <div class="no-suppliers-message">
            <i class="fas fa-truck fa-2x mb-2 d-block"></i>
            尚未設定供應商
        </div>
    }

@code {
    [Parameter] public List<ProductSupplier>? ProductSuppliers { get; set; }
    [Parameter] public int? PrimarySupplierId { get; set; }
    [Parameter] public EventCallback<int> OnSupplierClick { get; set; }
}
